@font-face {
  font-family: 'NotoSansTC';
  src: url('../assets/fonts/NotoSansTC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block; 
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('../assets/fonts/NotoSansTC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block; 
}

@font-face {
  font-family: 'NotoSansTC';
  src: url('../assets/fonts/NotoSansTC-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: light;
  /* 關鍵：解決閃爍與匯出計算問題 */
  font-display: block; 
}