.playerCell {
  width: 100%;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.playerCell.empty {
  background-color: rgba(16, 95, 104, 0.3);
}

/* 拖曳經過時的效果 */
.benchPlayerCellContainer,
.gridItemContainer {
  &.drag-over {
    .playerCell, .playerCellV2 {
      outline: dashed 2px #0affff;
      outline-offset: 1px;
    }
  }
}

.playerCellV2 {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  border: 1.5px solid transparent;

  .playerImg {
    flex-shrink: 0;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .playerName {
    flex-grow: 1;
    height: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-family: NotoSansTC;
    background-color: rgba(224,230,227, 0.7);
    line-height: 1.2em;
    flex-direction: column;
    color: #145B79;
    -webkit-text-stroke: 1px #fff;
    paint-order: stroke fill;

    &.large {
      font-size: 16px;
    }

    &.medium {
      font-size: 13px;
    }

    &.small {
      font-size: 10px;
    }
  }
}

.benchPlayerCellContainer {
  .playerCellV2 {
    background-color: #e6e0e3;
    border: 2px solid #b3dfc2;
  }
}
